<footer class="footer text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-list">
        <div class="right-footer">
          <h5>Contact Us</h5>
          <h5>FAQS</h5>
          <h5>How it Works</h5>
          <h5>Helps</h5>
        </div>

        <ul class="list-unstyled">
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
        </ul>
      </div>

    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-12 text-md footer-text">
        <p>&copy; 2023 AiBot. All Rights Reserved.</p>
        <p><span>Terms of Service</span> | <span>Privacy Policy</span></p>
      </div>
    </div>
  </div>
</footer>