<div class="plagrism-checker">
  <div class="page-width">
    <div class="heading">AiBot Plagiarism Checker </div>
    <div class="subheading">
      Paste your text into the text box or Upload your Doc or Text file using the Upload File button. (.tex, .txt, .doc, .docx, .odt, .pdf, and .rtf).
    </div>
    <div class="container">
      <textarea
        [(ngModel)]="textToCheck"
        (input)="countWords()"
        placeholder="Enter text to check"
        [maxlength]="maxWords * 5"
      ></textarea>
      <div class="btn-words">
        <div class="upload-grammer-button">
          <input
            hidden
            type="file"
            accept=".csv, .txt, .doc, .docx, .odt, .pdf, .rtf"
            #fileInput
            (change)="onFileSelected($event)"
          />
          <button class="btn upload-btn" (click)="fileInput.click()">
            <span>Upload a file</span> 
            <mat-icon class="mat-icon">cloud_upload</mat-icon>
          </button>
    
          <button class="btn" (click)="checkPlagiarism()">Check Plagiarism</button>
        </div>
        <div class="words-count">
          <p>{{ wordCount }} / 10000</p>
          <p *ngIf="wordCount > maxWords">You've exceeded the word limit!</p>
        </div>
      </div>
    
      <!-- <div class="errors" *ngIf="plagiarismResult">
        <h2>Plagiarism Check Results:</h2>
        <p>Percentage of Plagiarism: {{ plagiarismResult.percentPlagiarism }}%</p>
        <ul *ngIf="plagiarismResult.sources && plagiarismResult.sources.length > 0">
          <li *ngFor="let source of plagiarismResult.sources">
            <a href="{{ source.url }}" target="_blank">{{ source.title }}</a>
          </li>
        </ul>
        <p *ngIf="!plagiarismResult.sources || plagiarismResult.sources.length === 0">No sources found.</p>
      </div> -->
    
      <div class="errors" *ngIf="plagiarismResult">
        <h5 >Plagiarism Check Results:</h5>
        <p class="plag-text">Percentage of Plagiarism: {{ plagiarismResult.percentPlagiarism }}%</p>
        <ul *ngIf="plagiarismResult.sources && plagiarismResult.sources.length > 0">
          <h5 >Sources:</h5>
          <li *ngFor="let source of plagiarismResult.sources">
       
            <a href="{{ source.url }}" target="_blank">{{ source.title }}</a>
          </li>
        </ul>
        <p class="plag-text" *ngIf="!plagiarismResult.sources || plagiarismResult.sources.length === 0">No sources found.</p>
      </div>
    </div>
    
    <div class="multicoulmn-wrapper-bg">
      <div class="multicoulmn-wrapper page-width">
        <div class="heading">Simplify Your Writing Workflow</div>
        <div class="multicolumn">
          <div class="column">
            <div class="subheading">
              <img
                src="../../../assets/images/Results-in-Percentage.svg"
                alt=""
                class="subheading-icon"
              />
              Results in Percentage
            </div>
            <div class="text">
              Our plagiarism detection service delivers results in percentage format, ensuring accuracy while upholding your privacy. We provide comprehensive plagiarism detection results presented in percentage format, prioritizing your privacy throughout the process.
            </div>
          </div>
          <div class="column">
            <div class="subheading">
              <img
              src="../../../assets/images/Privacy-Guaranteed.svg"
                alt=""
                class="subheading-icon"
              />
              Privacy Guaranteed
            </div>
    
            <div class="text">
              We guarantee the confidentiality of your submitted content, ensuring your privacy is safeguarded at all times. our data is treated with the highest level of privacy and confidentiality when using our plagiarism detection tool.
            </div>
          </div>
          <div class="column">
            <div class="subheading">
              <img
                src="../../../assets/images/Multiple-Uploading-Options.svg"
                alt=""
                class="subheading-icon"
              />
              Multiple File Formats
            </div>
            <div class="text">
              Our plagiarism detection service supports multiple file formats while maintaining the highest standards of privacy and confidentiality. Enjoy the convenience of checking plagiarism across various file formats without compromising on your privacy.
            </div>
          </div>
          <div class="column">
            <div class="subheading">
              <img
              src="../../../assets/images/AI-Based-Technology.svg"
                alt=""
                class="subheading-icon"
              />
              AI-Based Technology
            </div>
            <div class="text">
              Harness the power of AI-based technology for advanced plagiarism detection, ensuring unparalleled accuracy and efficiency. Experience the cutting-edge capabilities of AI-based technology in plagiarism detection, providing comprehensive analysis with lightning-fast results
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="heading"> 
      Still Have Questions? We've Got Answers!
    </div>
    
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="question">How does the Plagiarism Checker work?</h5>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="answer">Paste your text into the text box or Upload your Doc or Text file using the Choose File button. (.tex, .txt, .doc, .docx, .odt, .pdf, and .rtf). As your request is sent (button clicked) for processing, the results will be displayed in a matter of seconds. In case, there are duplicate matches (content) found, the tool will show results in percentage meaning
              Percentage % of Unique content and Percentage % of Plagiarized. The relevant text with similarity score along with the source it originates from.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="question">Can AiBot Plagiarism Checker Detect Paraphrased Content?</h5>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="answer">Yes! The AiBot plagiarism checker is capable of detecting paraphrased content. Its advanced mechanism identifies and highlights phrases, sentences, or paragraphs that have been paraphrased from another source over the web.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="question">Definition of Plagiarism</h5>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="answer">The concept of thinking that, self-plagiarism is only copying some other's paintings or borrowing someone else's unique idea. In my thoughts like "copying" and "borrowing" can cover the seriousness of the offense. According to the Oxford Dictionary Plagiarism is:
          “The practice of taking someone else's work or ideas and passing them off as one's own”</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="question">How Does AiBot Plagiarism Checker Differs from Traditional Methods?</h5>
          </button>
        </h2>
        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="answer">The working of an AiBot plagiarism checker differs from traditional methods as it organizes your data and analyzes it with advanced machine learning and Natural Language Processing techniques. Later, this AiBot plagiarism detector compares the comprehended information with millions of web pages’ data available in its databases to find similarities. Lastly, it displays AI plagiarism detected in your content while letting you know its exact percentage. This entire method differs from traditional plagiarism detection methods that use string-matching techniques and provide an approximate estimation of plagiarism that needs to be more accurate.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="question">How does the Plagiarism Checker work?</h5>
          </button>
        </h2>
        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="answer">Yes! The AiBot plagiarism checker is compatible with a wide range of document formats. Whether you have a document in .pdf, .txt, .doc, or .docx format, you can easily check AiBot plagiarism and determine the correct proportion of duplication.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="question">What is the most accurate plagiarism checker free?</h5>
          </button>
        </h2>
        <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="answer">According to our millions of satisfied users, absolutely Duplichecker.com is free and the most accurate plagiarism checking the website.</strong>
          </div>
        </div>
      </div>
    </div>





  </div>
</div>

<!-- *ngIf="errors && errors.length > 0" -->
<!-- *ngFor="let error of errors" -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fbb71a" type="ball-circus" [fullScreen] = "true"></ngx-spinner>

