<div class="body ">
  <app-navbar></app-navbar>

  <div class="container page-width">
    <div class="container">`
      <div class="row imgWithText">
        <div class="col-md-6 aiContent">
          <h1 class="aiHeading">
            UNLOCKING THE POTENTIAL OF
            <span class="aitext">ARTIFICIAL INTELLIGENCE</span>
          </h1>
          <p class="aipara">
            AiBot helps you enhance your reading and writing experience by
            providing various tools and features.
          </p>
        </div>
  
        <div class="col-md-6 aiImg">
          <img src="../../assets/images/ai.png" alt="" />
          <!-- Add more content here -->
        </div>
      </div>
    </div>
  </div>

<div class="multicoulmn-wrapper-bg">
<div class="multicoulmn-wrapper page-width">
    <div class="heading">Our Team</div>
    <div class="multicolumn">
        <div class="column">
            <div class="subheading">
                Meet Our Experts
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
        <!-- Add more team members here -->
    </div>
</div>
</div>


<div class="multicoulmn-wrapper-bg multicoulmn-wrapper-bg-v2">
  <div class="multicoulmn-wrapper page-width">
    <div class="heading-wrapper">
      <div class="heading">Our Unique Advantages and Benefits</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et.
      </p>
    </div>
    <div class="multicolumn">
      <div class="column">
        <div class="subheading">
          <div class="subheading-icon">
            <img src="../../assets/images/Group-27.png" alt="" class="icon" />
          </div>
          Our Values
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="column">
        <div class="subheading">
          <div class="subheading-icon">
            <img src="../../assets/images/Group-30.png" alt="" class="icon" />
          </div>
          Our Vision
        </div>

        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="column">
        <div class="subheading">
          <div class="subheading-icon">
            <img src="../../assets/images/Group-23.png" alt="" class="icon" />
          </div>
          Our Vision
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="multicoulmn-wrapper-bg multicoulmn-wrapper-bg-video">
  <div class="multicoulmn-wrapper page-width">
      <div class="heading">Our History</div>
      <div class="text">
          Founded in 20XX, our company has been at the forefront of AI innovation, providing cutting-edge solutions to businesses worldwide.
      </div>
  </div>
</div>

  <app-footer></app-footer>
</div>
