.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    color: #fff;
    font-size: 36px;
    font-weight: 500px;
}
.navbar-collapse{
    flex-grow: unset;
}
li{
    font-size: 24px;
    cursor: pointer;
    margin-left: 24px;
}
li span{
    color: #fff;
}
.active span{
    color:  rgb(252, 104, 0);;
}