<nav class="navbar navbar-expand-lg">
  <div class="container">
    <span class="navbar-brand">AiBot</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <span class="nav-link" (click)="onHome()">Home </span>
        </li>
        <li class="nav-item dropdown">
          <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usecases
          </span>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item" (click)= "OnGrammerchecker()">Grammer Checker</span>
            <span class="dropdown-item" (click)="Onplagiarismchecker()">Plagiarism Checker</span>
            <span class="dropdown-item" (click)=" OnchatBot()">Chat Bot</span>
          </div>
        </li>
        <li class="nav-item" (click)="onAbout()">
          <span class="nav-link">About</span>
        </li>
        <li class="nav-item" (click)="onContact()">
          <span class="nav-link">Contact Us</span>
        </li>
      </ul>
    </div>
  </div>
</nav>