.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    color: #fff;
    font-size: 36px;
    font-weight: 500px;
}
.navbar-collapse{
    flex-grow: unset;
}
li{
    font-size: 24px;
    cursor: pointer;
    margin-left: 24px;
}
li span{
    color: #fff;
}
.dropdown-menu{
background-color: #181819;
}
.dropdown-menu span{
    color: #fff;
}
.dropdown-menu span:hover{
    color: rgb(252, 104, 0);
}
.nav-link.show{
color: #fff;
}


.active span{
    color:  rgb(252, 104, 0);
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        cursor: pointer;
        position: absolute;
        width: 100%;
        background-color: #181819;
    }
}
