<div class="plagrism-checker">
  <div class="page-width ">
  <div class="heading"> 
    Grammer Checker by Ai Bot
  </div>
  <div class="subheading"> 
    Aibot’s grammer checker detects plagiarism in your text and checks for other writing issues.
  </div>
  
  



<div class="container">
  <textarea [(ngModel)]="textToCheck" (input)="countWords()" placeholder="Enter text to check" [maxlength]="maxWords * 5"></textarea>
  <div class="btn-words">
    <div>
      <button class="btn" (click)="checkGrammar()">Check Grammar</button>
    </div>
    <div class="words-count">
      <p>{{ wordCount }} / 1000</p>
      <p *ngIf="wordCount > maxWords">You've exceeded the word limit!</p>
    </div>
  </div>

  <div  class="errors">
    <h2>Results:</h2>
    <ul>
      <li> 123 </li>
    </ul>
  </div>
</div>
<div class="multicoulmn-wrapper-bg">
  <div class="multicoulmn-wrapper page-width">
    <div class="heading">Simplify Your Writing Workflow</div>
    <div class="multicolumn">
      <div class="column">
        <div class="subheading">
          <img
            src="../../../assets/images/correctgrammer.svg"
            alt=""
            class="subheading-icon"
          />
          Correct Grammar
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="column">
        <div class="subheading">
          <img
          src="../../../assets/images/spelling.svg"
            alt=""
            class="subheading-icon"
          />
          Correct spelling
        </div>

        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="column">
        <div class="subheading">
          <img
            src="../../../assets/images/punctuations.svg"
            alt=""
            class="subheading-icon"
          />
          Correct punctuation
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="column">
        <div class="subheading">
          <img
          src="../../../assets/images/grammaticalError.svg"
            alt=""
            class="subheading-icon"
          />
          Fix All Errors
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
</div>



</div>
</div>