<section class="contactMain">
  <div class="background">
    <div class="container">
      <div class="row imgWithText">
        <div class="col-md-6 aiContent">
          <h1 class="aiHeading">
            UNLOCKING THE POTENTIAL OF
            <span class="aitext">ARTIFICIAL INTELLIGENCE</span>
          </h1>
          <p class="aipara">
            AiBot helps you enhance your reading and writing experience by
            providing various tools and features.
          </p>
        </div>
  
        <div class="col-md-6 aiImg">
          <img src="../../assets/images/ai.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="multicoulmn-wrapper-bg">
    <div class="multicoulmn-wrapper page-width">
      <div class="heading">Feel free to reach out.</div>
      <div class="multicolumn">
        <div class="column">
          <div class="subheading">
            <img src="assets/images/callIcon.png" alt="Call icon"  class="subheading-icon" />
            Phone Number
          </div>
          <div class="text">
            +92-3244436643
          </div>
        </div>
        <div class="column">
          <div class="subheading">
            <img
              src="assets/images/mail.png"
              alt=""
              class="subheading-icon"
            />
            Email*
          </div>
  
          <div class="text">
         Lorem ipsum,talhanadeem2397&#64;gmail.com. Soluta   
          </div>
        </div>
        <div class="column">
          <div class="subheading">
            <img
              src="assets/images/placeholder.png"
              alt=""
              class="subheading-icon"
            />
            Location
          </div>
          <div class="text">
            London Eye, London, United Kingdom
          </div>
        </div>
        <div class="column">
          <div class="subheading">
            <img
              src="assets/images/customer-service.png"
              alt=""
              class="subheading-icon"
            />
            Support
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
