
html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body { 
    margin: 0; 
    font-family: 'Inter', sans-serif; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 .heading{
    text-align: center;
    font-size: 45px;
    color: #fff;
    margin-inline: auto;
    margin-bottom: 40px;
    line-height: 55px;
    font-weight: 700;
}

 .subheading{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    margin-inline: auto;
    max-width: 700px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;
}

.page-width{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 50px;
    padding-block: 70px;
}

@media screen and (max-width: 768px) {
    .page-width {
        padding-inline: 20px;
        padding-block: 50px;
    }

    
     .subheading{
        flex-direction: column;
        font-size: 17px;
        gap: 5px;
        line-height: 20px;
        margin-top: 22px;
    }
     .heading{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 0;
    
    }
}

.btn{
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    border: 2px solid rgb(252, 104, 0);
    max-width: 180px;
    border-radius: 50px;
    padding: 12px;
}
.btn:hover{
color: rgb(252, 104, 0);
animation: 5s ease-in-out;
border:2px solid #fff;
}
