<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <span class="navbar-brand">Navbar</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" >
        <button class="btn btn-outline-success" (click)="getStarted()">Get Started</button>
      </form>
    </div>
  </div>
</nav>

<!-- Heading -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h2>Reading and Writing</h2>
        <p>JotBot helps you enhance your reading and writing experience by providing various tools and features.</p>
        <!-- Add more content here -->
    </div>
  </div>
  <button class="btn btn-outline-success" (click)="getStarted()">Get Started</button>

</div>




<div class="multicoulmn-wrapper-bg">
<div class="multicoulmn-wrapper page-width">
<div class="heading">
  Empowering Possibilities: What We Can Do for You
</div>
<div class="multicolumn">

  <div class="column">
    <div class="subheading">
      <img src="../../assets/images/Group-18-150x150.png" alt="" class="subheading-icon">
      Knowledge
     
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <a class="btn">
      Get Started
    </a>
  </div>
  <div class="column">
    <div class="subheading">
      <img src="../../assets/images/Group-21-1-150x150.png" alt="" class="subheading-icon">
      Conversations
    </div>
    
     
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <a class="btn">
      Get Started
    </a>
  </div>
  <div class="column">
    <div class="subheading">
      <img src="../../assets/images/Group-25-150x150.png" alt="" class="subheading-icon">
      Product
     
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <a class="btn">
      Get Started
    </a>
  </div>
  <div class="column">
    <div class="subheading">
      <img src="../../assets/images/Group-26-150x150.png" alt="" class="subheading-icon">
      Support
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <a class="btn">
      Get Started
    </a>
  </div>
</div>

</div>
</div>

<div class="multicoulmn-wrapper-bg multicoulmn-wrapper-bg-v2">
  <div class="multicoulmn-wrapper page-width">
    <div class="heading-wrapper">
  <div class="heading">
    Our Unique Advantages and Benefits
   
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
  </p>
</div>
  <div class="multicolumn">
  
    <div class="column">
      <div class="subheading">
        <div  class="subheading-icon">
        <img src="../../assets/images/Group-27.png" alt="" class="icon">
      </div>
        Analytics and Insight 
       
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <div class="column">
      <div class="subheading">
        <div  class="subheading-icon">
        <img src="../../assets/images/Group-30.png" alt="" class="icon">
        </div>
        Scalability and Efficiency
      </div>
      
       
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <div class="column">
      <div class="subheading">
        <div  class="subheading-icon">
          <img src="../../assets/images/Group-23.png" alt="" class="icon">
          </div>
        Natural Language Processing
       
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
  
  </div>
  </div>

  <div class="multicoulmn-wrapper-bg multicoulmn-wrapper-bg-video ">
    <div class="multicoulmn-wrapper page-width">
    <div class="heading">
      Empowering Possibilities: What We Can Do for You
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet ut labore et.
    </div>
    
    <img src="../../assets/images/Mask-group-2.png" alt="" class="center-img">
    </div>
    </div>