<div class="background">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <span class="navbar-brand">AiBot</span>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <span class="nav-link">Home </span>
          </li>
          <li class="nav-item" (click)="onAbout()">
            <span class="nav-link">About</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">Contact Us</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">Usecases</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row imgWithText animated slideIn">
      <div class="col-md-6 aiContent">
        <h1 class="aiHeading">
          UNLOCKING THE POTENTIAL OF
          <span class="aitext">ARTIFICIAL INTELLIGENCE</span>
        </h1>
        <p class="aipara">
          AiBot helps you enhance your reading and writing experience by
          providing various tools and features.
        </p>
        <button class="btn" (click)="getStarted()">Get Started</button>
      </div>

      <div class="col-md-6 aiImg">
        <img src="../../assets/images/ai.png" alt="" />
        <!-- Add more content here -->
      </div>
    </div>
  </div>
</div>

<div class="imgWithTextV2">
  <div class="container page-width">
    <div class="row imgWithTextV2">
      <div class="col-md-6 aiImgV2">
        <img src="../../assets/images/Mask-group.png" alt="" />
        <!-- Add more content here -->
      </div>
      <div class="col-md-6 aiContentv2">
        <h1 class="aiHeading">
          UNLOCKING THE POTENTIAL OF
          <span class="aitext">ARTIFICIAL INTELLIGENCE</span>
        </h1>
        <p class="aipara">
          AiBot helps you enhance your reading and writing experience by
          providing various tools and features.
        </p>
        <div class="cardtext">
        <div class="card">
          <div class="card-body">
            <h4 class="card-text">10</h4>
            <span class="plus-sign" style="right: 50px;">+</span>
            <h5 class="card-title">Years Experience</h5>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-text">150</h4>
            <span class="plus-sign" style="right: 40px;">+</span>
            <h5 class="card-title">Trusted Partner</h5>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-text">120 k</h4>
            <span class="plus-sign">+</span>
            <h5 class="card-title">Active Installs</h5>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="multicoulmn-wrapper-bg">
  <div class="multicoulmn-wrapper page-width">
    <div class="heading">Empowering Possibilities: What We Can Do for You</div>
    <div class="multicolumn">
      <div class="column">
        <div class="subheading">
          <img
            src="../../assets/images/Group-18-150x150.png"
            alt=""
            class="subheading-icon"
          />
          Knowledge
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <a class="btn"> Get Started </a>
      </div>
      <div class="column">
        <div class="subheading">
          <img
            src="../../assets/images/Group-21-1-150x150.png"
            alt=""
            class="subheading-icon"
          />
          Conversations
        </div>

        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <a class="btn"> Get Started </a>
      </div>
      <div class="column">
        <div class="subheading">
          <img
            src="../../assets/images/Group-25-150x150.png"
            alt=""
            class="subheading-icon"
          />
          Product
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <a class="btn"> Get Started </a>
      </div>
      <div class="column">
        <div class="subheading">
          <img
            src="../../assets/images/Group-26-150x150.png"
            alt=""
            class="subheading-icon"
          />
          Support
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <a class="btn"> Get Started </a>
      </div>
    </div>
  </div>
</div>

<div class="multicoulmn-wrapper-bg multicoulmn-wrapper-bg-v2">
  <div class="multicoulmn-wrapper page-width">
    <div class="heading-wrapper">
      <div class="heading">Our Unique Advantages and Benefits</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et.
      </p>
    </div>
    <div class="multicolumn">
      <div class="column">
        <div class="subheading">
          <div class="subheading-icon">
            <img src="../../assets/images/Group-27.png" alt="" class="icon" />
          </div>
          Analytics and Insight
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="column">
        <div class="subheading">
          <div class="subheading-icon">
            <img src="../../assets/images/Group-30.png" alt="" class="icon" />
          </div>
          Scalability and Efficiency
        </div>

        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="column">
        <div class="subheading">
          <div class="subheading-icon">
            <img src="../../assets/images/Group-23.png" alt="" class="icon" />
          </div>
          Natural Language Processing
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="multicoulmn-wrapper-bg multicoulmn-wrapper-bg-video">
  <div class="multicoulmn-wrapper page-width">
    <div class="heading">Empowering Possibilities: What We Can Do for You</div>
    <div class="text">Lorem ipsum dolor sit amet ut labore et.</div>

    <img src="../../assets/images/Mask-group-2.png" alt="" class="center-img" />
  </div>
</div>


<footer class="footer text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-list">
        <div class="right-footer">
          <h5>Contact Us</h5>
          <h5>FAQS</h5>
          <h5>How it Works</h5>
          <h5>Helps</h5>
        </div>

        <ul class="list-unstyled">
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
        </ul>
      </div>

    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-12 text-md footer-text">
        <p>&copy; 2023 AiBot. All Rights Reserved.</p>
        <p><span>Terms of Service</span> | <span>Privacy Policy</span></p>
      </div>
    </div>
  </div>
</footer>



