<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <span class="navbar-brand">Navbar</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" >
        <button class="btn btn-outline-success" (click)="getStarted()">Get Started</button>
      </form>
    </div>
  </div>
</nav>

<!-- Heading -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h2>Reading and Writing</h2>
        <p>JotBot helps you enhance your reading and writing experience by providing various tools and features.</p>
        <!-- Add more content here -->
    </div>
  </div>
  <button class="btn btn-outline-success" (click)="getStarted()">Get Started</button>

</div>

<!-- SWIPER -->

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/nobelcomsol.jpeg" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/nobelcomsol.jpeg" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/sap.png" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/nobelcomsol.jpeg" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/nobelcomsol.jpeg" class="logo"></div>
      <div class="swiper-slide"><img src="../../assets/images/nobelcomsol.jpeg" class="logo"></div>

      <!-- Add more logo slides here -->
    </div>
  
</div>

<!-- Cards For usecases -->

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Content for card 1.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Content for card 2.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Content for card 3.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 4</h5>
          <p class="card-text">Content for card 4.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 5</h5>
          <p class="card-text">Content for card 5.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 6</h5>
          <p class="card-text">Content for card 6.</p>
        </div>
      </div>
    </div>
  </div>
</div>
